@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBALS STYLES */
/* Works for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Works for Firefox */
input[type='number'] {
	appearance: textfield;
}

/* width */
::-webkit-scrollbar {
	width: 6px;
	height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f9f9f9;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #dcdddf;
	border-radius: 10px;
}

/* DRAWER */
.ant-drawer-content-wrapper {
	width: 250px !important;
}

.ant-drawer-header {
	padding: 10px 16px !important;
}

.ant-drawer-body {
	padding: 0px !important;
	background-color: #146586;
}

/* SPIN */
.ant-spin-dot-item {
	background-color: #146586 !important;
}

/* MODAL */
.ant-modal-footer {
	display: none;
}

/* BREADCRUMB */
.ant-breadcrumb-link,
.ant-breadcrumb-separator {
	height: 100% !important;
	/* padding: 5px !important; */
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}

.rc-virtual-list-scrollbar-show {
	display: block !important;
}

/* MENU */
.ant-menu {
	background: inherit !important;
}

.ant-menu-submenu-popup.ant-menu-submenu {
	background: #146586 !important;
}

/* DIVIDER */
.ant-divider-vertical {
	height: 1.5em;
	border-inline-start: 2px solid rgb(165, 170, 173);
}

.content-convocatoria .ant-divider-vertical {
	border-inline-start: 1.5px solid rgb(220, 221, 223);
}

.ant-tooltip .ant-tooltip-content {
	height: 100%;
}

/* BADGE */
.badge-container .ant-badge-count {
	width: 23px;
	height: 23px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 12px;
	font-weight: 800;
	font-style: italic;
	right: 70px;
	margin-top: 20px;
}

@media only screen and (min-width: 768px) {
	.badge-container .ant-badge-count {
		width: 40px;
		height: 40px;
		font-size: 23px;
		right: 120px;
		margin-top: 20px;
	}
}

@media only screen and (max-width: 389px) {
	.palmares-content {
		flex-direction: column;
	}
}

/* TABLE */
.ant-table-wrapper .ant-table-thead > tr > th,
.ant-table-wrapper .ant-table-tbody > tr > td {
	padding: 4px;
}

.ant-table-wrapper .ant-table .ant-table-header {
	border-radius: 0;
}

/* .ant-table-wrapper .ant-table-thead > tr > td {
	border-top: 1px solid #f0f0f0 !important;
} */

.ant-table-wrapper .ant-table-thead > tr > th,
.ant-table-wrapper .ant-table-thead > tr > td {
	border-top: 1px solid #f0f0f0 !important;
	background: inherit;
}

/* .ant-table-wrapper .ant-table-container table > thead > tr:first-child > *:first-child {
	border-radius: 0px !important;
} */
/* .ant-table-wrapper .ant-table-container table > thead > tr:first-child > *:last-child {
	border: none !important;
} */

/* COLLAPSE */
.member-content .ant-collapse {
	background: #fff;
}

.member-content .ant-collapse .ant-collapse-item .ant-collapse-header .ant-collapse-expand-icon {
	height: 126px;
}

/* LIST ANT */
.ant-list-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
